@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @RenderSection("head", false)
    <link rel="stylesheet" type="text/css" href="/css/site.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="~/js/site.js"></script>
</head>
<body>
    <div class="separator"></div>
    <div style="display:flex">
        <div class="logoDiv">
            <img src="~/logo.png" class="logo" />
        </div>
        <div class="title">
            <a href="/">AXA Movie Rate</a>
        </div>
        <div class="title">
            <a href="/Movie">Movies list</a>
        </div>
    </div>
    
    <div class="separator"></div>

    @RenderBody()
    

</body>
</html> 